
/* Site Base Typography and Background Color */
body {
    background: #ecf0f1;
    color: #2c3e50;
    /* font-family: 'Signika', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
h1 {
    font-weight: 800;
}

h2 {
    font-weight: 800;
}

/* Navbar Formatting */
 nav {
     background:#2ecc71;
     color: #ecf0f1;
 }
 nav a {
    color: #ecf0f1; 
 }

.navbar-brand {
    font-family: 'Monoton', cursive;
    font-size: 25px; 
   
}
.form-inline {
    font-size: 1em;
}

/* Responsive Design for Navbar Links */
@media (max-width: 576px) { 
    .form-inline {
        font-size: .75em;
    }
    .navbar_links {
        font-size: .90em;
    }
}

/* Link Formatting */
 a {
     color: #1abc9c;
 }

 a:hover {
     color: #e74c3c;
     font-weight: bold;
 }

 .uppercase {
     text-transform: capitalize;
 }

.post {
    border: 2px solid black; 
    border-radius: 25px;   
}

/* Existing and Create Post Styling */
#music_comment {
    width: 300px; 
}

/* Hide HTML Elements with "Hidden" Class */
.hidden {
    display: none;
}

/* Create Post Styling */

.post_content {
  flex-direction: column;
  display: flex;
  justify-content: space-between;  
}

.post_submit {
    align-self: flex-end;
    text-align: right;
    
}

.search_img {
    padding-left: 1em;
}

/* Saved Post Styling */
.comment {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.like_btn {
    align-self: flex-end;
    text-align: right;
    width: 100%;
}

.music_info {
    padding: 0;
}
.main_container {
    margin: 0;
}


/* Button Formatting */
.button {
    border-radius: 16px;
    background: #2ecc71;
    color:#ecf0f1;
    border: none;
    padding: 3;
}

.button:hover {
    background: #e67e22;
    font-weight: bold;
}

.basic_button {
    border-radius: 12px; 
    background: #2ecc71;
    color:#ecf0f1;
    border: none;
    padding: 3;
}

.basic_button:hover {
    background: #e67e22;
    font-weight: bold;
}

.nav_button {
    border-radius: 12px; 
    background: #e67e22;
    color:#ecf0f1;
    border: none;
    padding: 3; 
}

.nav_button:hover {
    background:#3498db;
    font-weight: bold;
}

/* Format Input Text and Textarea */
input[type=text] {
    border-radius: 16px;
    padding: 5px; 
    outline: none;    
}

input[type=password] {
    border-radius: 16px;
    padding: 5px; 
    outline: none;   
}

textarea {
    outline: none!important;
    box-shadow: none!important;    
}

