body {
    background: #ecf0f1;
    color: #2c3e50;
    /* font-family: 'Signika', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
h1 {
    font-weight: 800;
}

h2 {
    font-weight: 800;
}
 nav {
     background:#2ecc71;
     color: #ecf0f1;
 }
 nav a {
    color: #ecf0f1; 
 }

.navbar-brand {
    font-family: 'Monoton', cursive;
    font-size: 25px; 
   
}
 a {
     color: #1abc9c;
 }

 a:hover {
     color: #e74c3c;
     font-weight: bold;
 }

.post {
    border: 2px solid black; 
    border-radius: 25px;
    
}


#music_comment {
    width: 300px;
    
}

.hidden {
    display: none;
}

/* Create Post Styling */

.post_content {
  flex-direction: column;
  display: flex;
  justify-content: space-between;  
}

.post_submit {
    align-self: flex-end;
    text-align: right;
    
}

/* Saved Post Styling */
.comment {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.like_btn {
    align-self: flex-end;
    text-align: right;
    width: 100%;
}

.music_info {
    padding: 0;
}
.main_container {
    margin: 0;
}

.button {
    border-radius: 16px;
    background: #2ecc71;
    color:#ecf0f1;
    border: none;
    padding: 3;
}

.button:hover {
    background: #e67e22;
    font-weight: bold;
}

.basic_button {
    border-radius: 12px; 
    background: #2ecc71;
    color:#ecf0f1;
    border: none;
    padding: 3;
}

.basic_button:hover {
    background: #e67e22;
    font-weight: bold;
}

.nav_button {
    border-radius: 12px; 
    background: #e67e22;
    color:#ecf0f1;
    border: none;
    padding: 3; 
}

.nav_button:hover {
    background:#3498db;
    font-weight: bold;
}
