
.post {
    border: 2px solid black; 
    border-radius: 25px;
    
}


#music_comment {
    width: 300px;
    
}

.hidden {
    display: none;
}

.comment {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.like_btn {
    align-self: flex-end;
    text-align: right;
    width: 100%;
}