{% extends 'base.html' %}

{% block title %}User Login - Music Diary{% endblock %}

{% block body %}

<h1>Welcome! You are one step closer to creating your new Music Diary!</h1>
<p>Create Account Below</p>

{% for message in get_flashed_messages() %}
          <p class="flash-message">     
            {{ message }}
          </p>
{% endfor %}

<form id="create_account" action="/create_new_account" method="POST"> 
    
    <p>
        Username <input id="username" type="text" name="username">
    </p>

    <p>
        Password <input id="password" type="password" name="password">
    </p>

    <p>
        Spotify Username <input id="spotify_username" type="text" name="spotify_username">
    </p>

    <p>
        Token <input id="token" type="text" name="token">
    </p>

    <p>
        <input type="submit">
    </p>
</form>




<script src="static/js/create_account.js"> </script>
{% endblock %}