{% extends 'base.html' %}

{% block title %}Diary{% endblock %}

{% block head %} <script src="static/js/diary.js"> </script>
<link rel="stylesheet" href="static/styles.css">
{% endblock %}

{% block body %}
<!-- body content here -->
<h1>My Diary</h1>

<p>Hello {{username}}!</p>

<div id="create_post" class="post">
    
    <div id="song_data"> 
        <!-- song name, link and image are stored here -->
    </div>
   
    <div>
        <form id="music_search"> 
            <p> 
                <p>
                    <input type="text" placeholder="What are you listening to today?" id="music_search_input">
                </p>

                <p>
                    <input type="submit" value="Submit">
                </p>

            </p>
        </form>
    </div>

    <div id="music_comment"> 
        <form action="/save_song_to_database" method="POST"> 
            <!-- add hidden input fields here where i can save values 
            to send to the server -->
            <input type="hidden" id="song_name" name="name" value="id">
            <input type="hidden" id="song_url" name="url" value="id">
            <input type="hidden" id="song_img" name="img" value="id">
            <input type="hidden" id="song_id" name="id" value="id">

            <input type="text" name="post_content" placeholder="Type music commentary here!">
            <input type="submit" value="submit post">
        </form>
    </div>

</div> 


<form id="search_results">

</form>
<div id="user_posts"> 
    {% for post in posts %}
    <div class="post">
        <img src="{{post.music_img}}">
        <a href="{{post.music_url}}">{{post.music_title}} </a>
        <p> {{post.post_content}}</p>
    </div>  
    {% endfor %}
</div>


{% endblock %}