{% extends 'base.html' %}

{% block title %}Diary{% endblock %}

{% block head %} 
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}

{% block nav %}
<!-- fix link below -->
<a href="/diary/<username>"> My Diary</a> 
<a href="/logout" action="/logout"> Logout</a>

<form action="/search" method="POST"> 
    <input type="text" placeholder="search for friends" name="search"> 
    <input type="submit" value="submit">
</form>
{% for message in get_flashed_messages() %}
          <p class="flash-message">     
            {{ message }}
          </p>
{% endfor %}

{% endblock %}
{% block body %}

<!-- container div below -->
<div class="container">
    {% if read_write %}
    <div class="row">
        <div class="col-2">
            <h1>My Diary</h1>
        </div>
    </div>

    <div class="row"> 
        <div class="col-2">
            <p>Hello {{username}}!</p>
        </div>
    </div>
    

    {% else %}
    <div class="row">
        <div class="col-2">
            <h1>{{username}}'s Diary</h1> 
        </div>
    </div>
    

    {% endif %}

    {% if read_write %}
    <div class="row"> 
        <!-- parent col -->
        <div class="col-8">

            <div id="create_post" class="post p-3">
                <!-- create row to make nested columns -->
                <div class="row"> 
                    <div id="song_data"> 

                    </div>
                    
                    <div class="col-4">
                        <form id="music_search_form"> 
                            <input type="text" placeholder="What are you listening to today?" id="music_search_input">
                        </form>
                    </div>

                    <div class="col-8" id="populate_music_post"> 
                        
                            <form id="submit_final_post" action="/save_song_to_database" method="POST"> 
                                <!-- add hidden input fields here where i can save values 
                                to send to the server -->
                                
                                <input type="hidden" id="song_name" name="name" value="id">
                                <input type="hidden" id="song_url" name="url" value="id">
                                <input type="hidden" id="song_img" name="img" value="id">
                                <input type="hidden" id="song_id" name="id" value="id">
                                <input type="hidden" id="music_type" name="type" value="id">
                                <input type="hidden" id="artist_name" name="artist" value="id">
                                <input type="hidden" id="artist_url" name="artist_url" value="id">
                                
                            
                                <input id="comment" type="text" name="post_content" placeholder="Type music commentary here!">
                                
                                
                                <input type="submit" value="submit post">
                                
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row"> 
        <div class="col-8">
            <form id="list_of_search_results">

            </form>
        </div>
    </div>
            
    {% endif %}

    
    {% for post in posts %}
    <div class="row"> 
        <div class="col-8">
            <div class="post p-3" id="{{post.post_id}}">
                <img src="{{post.music_img}}">
                <a href="{{post.music_url}}">{{post.music_title}} </a>
                <div><a href="{{post.artist_url}}">{{post.artist_name}} </a> </div>
                <p> {{post.music_type}}</p>
                <p> {{post.post_content}}</p>
                <p> {{post.date.strftime('%m-%d-%Y')}}</p>

                {% if read_write %}
                <form class="delete_post" id="{{post.post_id}}"> 
                    <input type="submit" value="delete"> 
                </form>
                {% endif %}
                <div>
                    <div id="post_id_for_like_{{post.post_id}}">{{post.likes|length}}</div>
                    <button type="button" class="like_post" id="{{post.post_id}}"> Like </button>
                </div>
            </div>    
        </div> 
    </div>
    {% endfor %}
    
    

<!-- end container -->
</div>

<script src="/static/js/diary.js"> </script>
{% endblock %}