{% extends 'base.html' %}

{% block title %}Diary{% endblock %}
{% block head %} <script src="static/js/diary.js"> </script>{% endblock %}
{% block body %}
<!-- body content here -->
<h1>My Diary</h1>

<p>Hello!</p>

<form id="music_search"> 
    <p> 
        <p>
            <input type="text" placeholder="What are you listening to today?" id="music_search_input">
        </p>

        <p>
            <input type="submit" value="Submit">
        </p>

    </p>
    
</form>
<p id="new_post"> Post Placeholder </p>
<!-- Create divs to hold clickable elements from search -->
<form id="search_results">

</form>

{% endblock %}