<!-- make login form -->
<!-- add form for username and password -->

{% extends 'base.html' %}

{% block title %}User Login - Music Diary{% endblock %}

{% block body %}
<!-- body content here -->
<h1>Welcome to your new Music Diary!</h1>
<p>Login Below</p>
<form action="/login" method="POST"> 
    <p>
        Username <input type="text" name="username">
    </p>

    <p>
        Password <input type="password" name="password">
    </p>

    <p>
        <input type="submit">
    </p>
</form>

<form action="/create_account" method="get">
    <button type="submit">Create Account</button>
</form>






{% endblock %}