

{% extends 'base.html' %}

{% block title %}User Login - Music Diary{% endblock %}

{% block head %} 
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}

{% block body %}
<!-- body content here -->
<div class="container main_container">
    <div class="row login_container pt-3">
        <div class="col login_page"></div>
            <h1>Welcome to your Music Diary!</h1>
            <p>Login Below</p>

            {% for message in get_flashed_messages() %}
                    <p class="flash-message">     
                        {{ message }}
                    </p>
            {% endfor %}


            <form id="login" action="/login" method="POST"> 
                <p>
                    Username <input id="username" type="text" name="username">
                </p>

                <p>
                    Password <input id="password" type="password" name="password">
                </p>

                <p>
                    <input class="basic_button" type="submit">
                </p>
            </form>

            <form action="/create_account" method="get">
                <button class="basic_button" type="submit">Create Account</button>
            </form>
        </div>
    </div>
</div>




<script src="static/js/home.js"> </script>
{% endblock %}